.wrapper{
    width: 766px;
    margin: auto;
}

.wrap {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.wrap-texto {
    color: black;
    text-align: center;
    width: 50%;
}

.texto-izq {
    border-width:4px;
    margin: 5px; 
    font-family: "Quicksand", sans-serif;
}