.wrapper{
    width: 766px;
    margin: auto;
}

.wrap {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.wrap-texto {
    color: black;
    text-align: center;
    width: 50%;
}

body{
    margin-left: 25%;
    margin-right: 25%;
}

.contenedor {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.linea1 {
    text-align: left;
    margin-left: 5px; 
    font-size: 45px;
}

.linea2{
    text-align: left;
    margin-left: 5px; 
    font-size: 30px;  
}


img{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2{
    background-color: rgb(37, 237, 165);
    height: 100%;
    padding: 23px;
}

.textosec2 {
    text-align: center;
    color: black;
}

.fotos1{
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.imagenes1{
    width: 150px;
    height: 200px;
}

.section-3{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
}

.section-3 img{
    width: 90%;
    height: 55%;
}

.fotos2{
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 235px;
}

.section-5{
    margin-top: -6.5%;
}

.textosec5{
    background-color: rgb(70, 166, 252);
    font-size: 45px;
    text-align: center;
    margin: 0%;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    text-align: left;
}

.final{
    flex: 1;
    text-align: center;
    font-size: 9px;
}